$body-color: #888;
$head-foot-color: #aaa;
$section-color: #eee;
$icon-size: 0.8em;
$container-size: 1024px;
$bs-lg: 1200px;

@mixin container($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    font-size: 24px;

    // centered with good margins
    max-width: $container-size;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,.2);
}

body {
    background-color: $body-color;

    /* Space for the navbar */
    padding-top: 50px;
}

nav {
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,.2);
}
.navbar-nav {
  margin-right: 1em;
}

header {
    @include container($head-foot-color, white);

    // background-color: $head-foot-color;
    padding-top: 1em;

    p {
        margin-left: 1em;
    }
}

.intro {
    margin-top: 2em;
    font-size: 20px;
}

h2 {
    text-align: center;
}

.img-circle {
    border-radius: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
}

section {
    @include container($section-color, $body-color);
}

.codey-sep {
    border: none;
    height: 5px;
    background-color: white;
    max-width: 512px;
    margin-top: 2 * $icon-size;

    &:after {
        content: '\f121';
        font-family: FontAwesome;
        display: inline-block;
        position: relative;
        font-size: 2em;
        color: white;
        padding: 0px .25em 0px .25em;
        top: -$icon-size;
    }
}

header .codey-sep {
    text-align: right;

    &:after {
        background-color: $head-foot-color;
    }
}

section .codey-sep {
    text-align: center;

    &:after {
        background-color: $section-color;
    }
}

@media(min-width: $bs-lg) {
  #portfolio {
    .left-col {
      text-align: right;
    }
    .right-col {
      text-align: left;
    }
  }
}

@media(max-width: $bs-lg - 1) {
  #portfolio img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

#portfolio img {
  margin-top: 20px;
  margin-bottom: 20px;
}

// Put "no soliciting" next to the button at the bottom of the form.
// There's no non-hacky way to do this...
@media(min-width: $bs-lg) {
  #note {
    margin-top: 420px;
    margin-bottom: 1em;
  }
}

#contact-form {
  font-size: 30px;
  label {
    display: none;
  }
  input,textarea {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid rgba(0,0,0,.2);
  }
  input:focus,textarea:focus {
    outline: 0;
    -webkit-appearance: none;
  }
  .form-group:not(:last-child) {
    margin-bottom: 2em;
  }
}

#upper-footer {
  background-color: $head-foot-color;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,.2);
  font-size: 20px;
  color: white;
}

.btn-circle.btn-lg {
  text-align: center;
  border-radius: 50%;
  padding: 16px;
  font-size: 20px;
  height: 50px;
  width: 50px;
}

.social-list {
  li {
    display: inline;
  }
  padding: 0px;
}

#lower-footer {
  color: white;
  padding-top: 1em;
  font-size: 20px;
}